* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
   
}
.home-page {
    height: 100vh;
    background-image: url("images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar {
    height: 15vh;
    background: linear-gradient(#ffffff, #ffffff80, #ffffff00);
    text-align: center;
}

.nav-bar-content {
    padding-top: 5vh;
    display: flex;
    justify-content: space-around;
}
.nav-bar-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 18px;
    font-weight: 600;

}